<table class="item-list inventory">
  <thead>
    <tr>
      <th class="bold">Weapon</th>
      <th class="bold">To hit</th>
      <th class="bold">DMG</th>
      <th class="bold">Type</th>
      <th class="bold">Range</th>
      <th class="bold">Special</th>
      <th class="bold">Ammo</th>
      <th></th>
    </tr>
  </thead>

<!-- attacks -->
  <tbody>
    {{#each items.weapon as |item|}}
    <tr class="item" data-item-id="{{item._id}}" draggable="true">
      <td>
        <img class="item-image" src="{{item.img}}">
        <a class="item-control item-roll">{{item.name}}</a>
      </td>
      <td>{{item.data.toHit}}</td>
      <td>{{item.data.dmg}}</td>
      <td>{{item.data.details.type}}</td>
      <td>{{item.data.details.range.normal}}/{{item.data.details.range.max}}</td>
      <td>{{item.data.details.special}}</td>
      <td>{{item.data.ammo}}</td>
      <td>
        <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>