<div class="grid grid-2col">
    <div class="flexcol details-column">
        {{!-- Attack details left column --}}
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.details.type">Bulk</label>
            <input type="text" name="data.bulk" value="{{data.bulk}}" data-dtype="Number"/>
        </div>
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.details.type">Attack type</label>
            <select name="data.details.type">
                {{selectOptions config.attackTypes selected=data.details.type localize=false}}
            </select>
        </div>
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.details.sec_type">Sec.attack type</label>
            <select name="data.details.sec_type">
                <option value=""></option>
                {{selectOptions config.attackTypes selected=data.details.sec_type localize=false}}
            </select>
        </div>

        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.attackAbility">Attack mod</label>
            <select name="data.attackAbility">
                {{selectOptions config.abilities selected=data.attackAbility localize=false}}
            </select>
        </div>

        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.details.range.normal">Range</label>
            <div class="flexrow flex-center flex-between">
                <input type="text" name="data.details.range.normal" value="{{data.details.range.normal}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.details.range.max" value="{{data.details.range.max}}" data-dtype="Number"/>
            </div>
        </div>


        <div class="details-entry grid grid-2col">
            <label>Target</label>
            <div class="form-fields">
                <input type="text" name="data.target.value" style="width: 25%" value="{{data.target.value}}" data-dtype="Number" placeholder="-"/>
                <select name="data.target.type" style="width: 75%">
                    {{#select data.target.type}}
                        <option value=""></option>
                        {{#each config.targetTypes as |name key|}}
                            <option value="{{key}}">{{name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.atkSnd" title="Leave empty for the default">Attack sound</label>
            <div class="form-fields nowrap">
                <button type="button" class="file-picker" data-type="audio" data-target="data.atkSnd">Pick</button>
                <input type="text" name="data.atkSnd" value="{{data.atkSnd}}" data-dtype="String" />
            </div>
        </div>

        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.dmgSnd" title="Leave empty for the default">Damage sound</label>
            <div class="form-fields nowrap">
                <button type="button" class="file-picker" data-type="audio" data-target="data.dmgSnd">Pick</button>
                <input type="text" name="data.dmgSnd" value="{{data.dmgSnd}}" data-dtype="String" />
            </div>
        </div>

        <div class="flex1"></div>
    </div>

    <div class="flexcol details-column">
        {{!-- Attack details right column --}}
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.details.special">Special</label>
            <input type="text" name="data.details.special" value="{{data.details.special}}" data-dtype="String"/>
        </div>

        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.ammo.value">Ammo</label>
            <div class="flexrow flex-center flex-between">
                <input type="text" name="data.ammo.value" value="{{data.ammo.value}}" data-dtype="Number"/>
                <span>/</span>
                <input type="text" name="data.ammo.max" value="{{data.ammo.max}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.ammo.bulk">Ammo unit bulk</label>
            <input type="text" name="data.ammo.bulk" value="{{data.ammo.bulk}}" data-dtype="Number"/>
        </div>
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.ammo.target">Reload Consumable</label>
            <select name="data.ammo.target">
                {{#select data.ammo.target}}
                    <option value=""></option>
                    <option value="{{config.actionReloadValue}}">[Action based reload]</option>
                    {{#each abilityConsumptionTargets as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.ammo.reload">Reload</label>
            <input type="text" name="data.ammo.reload" value="{{data.ammo.reload}}" data-dtype="String"/>
        </div>
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.isProficient">Has proficiency</label>
            <input type="checkbox" name="data.isProficient" {{checked data.isProficient}} />
        </div>
    </div>
</div>