<form class="{{cssClass}} flexcol sgrpg itemsheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <div class="flexcol image-col">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="70" width="70" />
        </div>
        <div class="header-fields">
            <div class="flexrow nowrap">
                <div class="compact-header-field">
                    <label for="system.handling" class="resource-label">CR</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input onfocus="this.select();" type="number" name="system.cr" value="{{system.cr}}" data-dtype="Number" />
                    </div>
                </div>
                <h1 class="charname flexrow">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                </h1>
            </div>
            <div class="resources grid grid-4col">
                <div class="resource flex-group-center">
                    <label for="system.prof" class="resource-label">Prof</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" value="{{system.proficiencyLevel}}" data-dtype="Number" readonly />
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.health.value" class="resource-label">HP</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input onfocus="this.select();" type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
                        <label>/</label>
                        <input onfocus="this.select();" type="number" name="system.health.maxBonus" value="{{system.health.maxBonus}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.ac" class="resource-label">AC</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" value="{{system.ac}}" data-dtype="Number" readonly />
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.speed" class="resource-label">Speed</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" value="{{system.speed}}" data-dtype="Number" readonly/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="description">Attributes</a>
        <a class="item" data-tab="details">Skills &#38; Saves</a>
        <a class="item" data-tab="notes">Notes</a>
    </nav>
    {{> "systems/sgrpg/templates/sheets/parts/actor-bulk-progress.hbs"}}

    <section class="sg-sheet-body flexcol">
        <div class="tab flexcol description" data-tab="description">
            {{! ATTRIBUTES }}
            <div class="flexrow" style="flex: 0">
                {{#each system.attributes as |attr a|}}
                <div class="flex-group-center" data-attr="{{a}}">
                    <label class="resource-label" for="system.attributes.{{a}}.value">
                        <a type="roll" class="txt-btn large" data-bonus="system.attributes.{{a}}.mod">{{a}}</a>
                    </label>
                    <input data_type="ability_value" name="system.attributes.{{a}}.value" type="number" value="{{attr.value}}">
                    <span class="mod">{{attr.modVisual}}</span>
                </div>
                {{/each}}
            </div>

            {{! Proficient SKILLS }}
            <div class="flex0 margin-top">
                <label class="resource-label">Skills:</label>
                {{#each system.proficientSkills as |skill s|}}
                <a type="roll" class="txt-btn" data-bonus="system.skills.{{s}}.total">{{s}} ({{skill.totalVisual}})</a>
                {{/each}}
            </div>

            {{! SAVES}}
            <div class="flex0 margin-top">
                <label class="resource-label">Saves:</label>
                {{#each system.saves as |save s|}}
                <a type="roll" class="txt-btn" data-bonus="system.saves.{{s}}.total">{{lookup ../config.saves s}} ({{save.totalVisual}})</a>
                {{/each}}
            </div>

            {{! CONDITION}}
            <div class="flex0 margin-top">
                <label class="resource-label">Condition:</label>
                {{radioBoxes "system.condition" config.conditions checked=system.condition localize=false}}
            </div>

            {{! DEATH }}
            <div class="flex0 margin-top">
                <a title="Reset death saves counter" class="txt-btn" type="reset_deathsave"><i class="fa fa-undo"></i></a>
                <a type="roll_deathsave" class="txt-btn resource-label large">Death Save:</a>
                <i class="fa fa-check" style="color: green">{{system.deathSaves.sucesses}}</i>
                <i class="fa fa-cross" style="color: red">{{system.deathSaves.fails}}</i>
            </div>

            {{! ARMOR INVENTORY }}
            <div class="armors margin-top">
                {{> "systems/sgrpg/templates/sheets/parts/actor-armor-inventory.hbs"}}
            </div>

            {{! WEAPONS INVENTORY }}
            <div class="attacks margin-top">
                {{> "systems/sgrpg/templates/sheets/parts/actor-weapon-inventory.hbs"}}
            </div>
        </div>

        {{! DETAILS }}
        <div class="tab flexrow details" data-tab="details">
            {{> "systems/sgrpg/templates/sheets/parts/npc-details.hbs"}}
        </div>

        {{! NOTES }}
        <div class="tab flexcol notes" data-tab="notes">
            <div class="grid grid-2col">
                <div class="flex-group-center editor-wrapper">
                    <h2>GM notes</h2>
                    {{#if isGM}}
                    {{editor content=system.gm_notes target="system.gm_notes" button=true owner=owner editable=editable rollData=rollData}}
                    {{/if}}
                </div>

                <div class="flex-group-center editor-wrapper">
                    <h2>Feats &#38; abilities</h2>
                    {{editor content=system.details target="system.details" button=true owner=owner editable=editable rollData=rollData}}
                </div>

                <div class="flex-group-center">
                    <h2>Item inventory</h2>
                    {{> "systems/sgrpg/templates/sheets/parts/actor-equip-inventory.hbs"}}
                </div>

                <div class="flex-group-center">
                    <h2>Base Bonuses</h2>
                    <div class="grid grid-2col">
                        <span>Determination: <input onfocus="this.select();" type="number" name="system.determination.maxBonus" value="{{system.determination.maxBonus}}" data-dtype="Number" /></span>
                        <span>Armor Class: <input onfocus="this.select();" type="number" name="system.acBonus" value="{{system.acBonus}}" data-dtype="Number" /></span>
                        <span>Bulk Capacity: <input onfocus="this.select();" type="number" name="system.bulkBonus" value="{{system.bulkBonus}}" data-dtype="Number" /></span>
                        <span>Proficiency: <input onfocus="this.select();" type="number" name="system.proficiencyBonus" value="{{system.proficiencyBonus}}" data-dtype="Number" /></span>
                        <span>Speed: <input onfocus="this.select();" type="number" name="system.speedBase" value="{{system.speedBase}}" data-dtype="Number" /></span>
                        <span>Initiative: <input onfocus="this.select();" type="number" name="system.initiativeBonus" value="{{system.initiativeBonus}}" data-dtype="Number" /></span>
                        <span>Moxie: <input onfocus="this.select();" type="number" name="system.moxieBonus" value="{{system.moxieBonus}}" data-dtype="Number" /></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>