<form class="{{cssClass}} charsheet" autocomplete="off">

<nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="character">Character</a>
    <a class="item" data-tab="background">Background</a>
    <!-- <a class="item" data-tab="settings">Settings</a> NOT IMPLEMENTED YET-->
</nav>


<div class="sg-sheet-body">
<!--  --------------------------------------------------------------------------------- -->
<!--  --------------------------- PAGE 1 ---------------------------------------------- -->
<!--  --------------------------------------------------------------------------------- -->
<main class="character tab-content tab1 page1 tab" data-tab="character">

<!-- NAME SECTION -->
  <section class="name columnflex nowrap">

    <div class="rowflex nowrap spaced">
      <a class="config-button" title="Configure feat details" data-action="flags"><i class="fa fa-cog"></i></a>

      <div class="columnflex nowrap">
        <label style="width:100px;">Character name:</label>
        <input name="name" type="text" value="{{actor.name}}">
      </div>
      <div class="columnflex nowrap">
        <label style="width:80px;">Player name</label>
        <input name="data.playername" type="text" value="{{data.playername}}">
      </div>
      <div class="columnflex nowrap">
        <label>Campaign</label>
        <input name="data.campaign" type="text" value="{{data.campaign}}">
      </div>
      <div class="columnflex nowrap">
        <label>Sheet version: 1.0</label>
      </div>
    </div>

    <div class="rowflex nowrap spaced">

      <div class="columnflex nowrap">
        <label>Race</label>
        <input name="data.race" list="race" placeholder="race" type="text" value="{{data.race}}">
      </div>
      <div class="columnflex nowrap">
        <label>Origin</label>
        <input name="data.origin" list="origin" placeholder="origin" type="text" value="{{data.origin}}">
      </div>
      <div class="columnflex nowrap">
        <label>Class</label>
        <input name="data.class" list="rpgclass" placeholder="class" type="text" value="{{data.class}}">
      </div>
      <div class="columnflex nowrap">
        <label class="w40" title="@{rank}">Level</label>
        <input name="data.rank" title="@{rank}" type="number" placeholder="1" class="w40" value="{{data.rank}}">
      </div>
      <div class="columnflex nowrap">
        <label class="w40" title="Hit Dice">HD</label>
        <input name="data.hd" type="text" placeholder="d8" title="Hit Dice: @{hd}" class="w40" value="{{data.hd}}">
      </div>
      <div class="columnflex nowrap">
        <label class="w30">MP</label>
        <input name="data.mp" type="number" placeholder="" title="Mission Points" class="w40" value="{{data.mp}}">
      </div>
      <div class="columnflex nowrap">
        <label class="w70">Tension Die</label>
        <select name="data.tensionDice">
          {{selectOptions config.tensionDice selected=data.tensionDice localize=false}}
        </select>
      </div>
    </div>

  </section>


<!-- ATTRIBUTES SECTION -->

  <div class="attr columnflex nowrap spaced center">
    {{#each data.attributes as |attr a|}}
      <div class="stat columnflex nowrap center middle" data-attr="{{a}}">
        <a type="roll" class="txt-btn large" data-bonus="data.attributes.{{a}}.mod">{{a}}</a>
        <input name="data.attributes.{{a}}.value" type="number" value="{{attr.value}}">
        <span class="mod">{{attr.mod}}</span>
      </div>
    {{/each}}
  </div>


<!-- Skills (20)-->

  <section class="skills columnflex nowrap spaced">
    <h3>Skills</h3>

    {{#each data.skills as |skill s|}}
      <div class="rowflex nowrap" data-skill="{{s}}">
        <input name="data.skills.{{s}}.proficient" type="checkbox" {{checked skill.proficient}}>
        <input name="data.skills.{{s}}.value" class="w30" value="{{skill.value}}">
        <a type="roll" class="txt-btn" data-bonus="data.skills.{{s}}.value">{{s}}</a>
        <span>({{skill.mod}})</span>
      </div>
    {{/each}}

  </section>


<!-- hp -->

  <section class="hp rowflex nowrap">
    <div class="section columnflex nowrap middle center">
      <label class="txtcenter" title="Hit Points">HP</label>
      <div class="rowflex nowrap">
        <input name="data.health.value" type="number" value="{{data.health.value}}" placeholder="20" class="stat w40" data-dtype="Number" value="{{data.health}}">
        <span class="slash">/</span>
        <input name="data.health.max" type="number" value="{{data.health.max}}" placeholder="20" class="stat w40" data-dtype="Number" value="{{data.health}}">
      </div>

    </div>
    <div class="section columnflex nowrap middle center determ">
      <label class="txtcenter" title="Temporary Hit Points">Temp HP</label>
      <div class="rowflex nowrap">
        <input name="data.temp_health.value" type="number"  class="stat w40" value="{{data.temp_health.value}}">
        <span class="slash">/</span>
        <input name="data.temp_health.max" type="number"  class="stat w40" value="{{data.temp_health.max}}">
      </div>
    </div>
  </section>


<!-- condition -->

  <section class="condition columnflex nowrap spaced">
    <h3 class="txtcenter" >CONDITION</h3>
    {{radioBoxes "data.condition" config.conditions checked=data.condition localize=false}}
  </section>


<!-- prof -->

  <div class="prof rowflex nowrap">
    <div class="section columnflex nowrap middle center">
      <label class="wide" title="Proficiency Bonus">Prof Bonus</label>
      <input name="data.prof" type="number" class="stat w40" value="{{data.prof}}">
    </div>
    <div class="section columnflex nowrap middle center init">
      <a type="roll_init" class="txt-btn">Initiative</a>
      <input name="data.initiative" type="number" class="stat w40" value="{{data.initiative}}">
    </div>
    <div class="section columnflex nowrap middle center moxie">
      <a type="roll_moxie" class="txt-btn">Moxie</a>
      <input name="data.moxie" type="number" class="stat w40"value="{{data.moxie}}">
    </div>
  </div>


<!-- ac -->

  <div class="ac rowflex nowrap">
    <div class="section columnflex nowrap middle center">
      <label class="wide">Armor Class</label>
      <input name="data.ac" type="number" class="stat w70" value="{{data.ac}}">
    </div>
    <div class="section columnflex nowrap middle center">
      <label class="wide">determination</label>
      <div class="rowflex nowrap">
        <input name="data.determination.value" type="number" class="stat w40" value="{{data.determination.value}}">
        <span class="slash">/</span>
        <input name="data.determination.max" type="number" class="stat w40" value="{{data.determination.max}}">
      </div>
    </div>
  </div>


<!-- speed -->

  <div class="speed rowflex nowrap">
    <div class="section columnflex nowrap middle center">
      <label class="bold txtcenter">Speed</label>
      <input name="data.speed" type="text" class="w70 stat" value="{{data.speed}}">
    </div>
    <div class="section death columnflex nowrap middle center">
      <a type="roll_deathsave" class="txt-btn large">Death Save</a>
      <div class="rowflex nowrap">
        <input class="death-save-checkbox sucess" type="checkbox" {{checked death_success1}}>
        <input class="death-save-checkbox sucess" type="checkbox" {{checked death_success2}}>
        <input class="death-save-checkbox sucess" type="checkbox" {{checked death_success3}}>
        <span>Sucesses</span>
      </div>
      <div class="rowflex nowrap">
        <input type="checkbox" class="death-save-checkbox fail" {{checked death_failure1}}>
        <input type="checkbox" class="death-save-checkbox fail" {{checked death_failure2}}>
        <input type="checkbox" class="death-save-checkbox fail" {{checked death_failure3}}>
        <span>Failures</span>
      </div>
    </div>
  </div>


<!-- saves -->

  <section class="saves columnflex nowrap">
    <h3>Saves</h3>
    {{#each data.saves as |save s|}}
      <div class="rowflex nowrap" data-save="{{s}}">
        <input name="data.saves.{{s}}.proficient" type="checkbox" {{checked save.proficient}}>
        <input name="data.saves.{{s}}.value" class="w30" value="{{save.value}}">
        <a type="roll" class="txt-btn" data-bonus="data.saves.{{s}}.value">{{lookup ../config.saves s}}</a>
      </div>
    {{/each}}
  </section>


<!-- bulk -->

  <section class="bulk columnflex nowrap middle center">
      <h3>Tactical Vest Bulk</h3>
      <input name="data.bulk" type="number"  class="stat w40" value="{{data.bulk}}">
  </section>

<!-- ammo -->



<!-- mini notes -->

  <section class="inventory flexcol nowrap center">
    <h4 class="flex0">Notes</h4>
    <div class="flexrow flex1" style="width: 100%">
      <textarea name="data.abilities.notes">{{data.abilities.notes}}</textarea>
    </div>
  </section>

<!-- attacks -->

  <section class="attacks item-list">
    <div class="header grid grid-8col">
      <span class="bold">Weapon</span>
      <span class="bold">To hit</span>
      <span class="bold">DMG</span>
      <span class="bold">Type</span>
      <span class="bold">Range</span>
      <span class="bold">Special</span>
      <span class="bold">Ammo</span>
      <span></span>
    </div>

<!-- attacks -->
    {{#each items.weapons as |item|}}
    <div class="item grid grid-8col inventory-item" data-item-id="{{item._id}}" draggable="true">
      <div class="rowflex nowrap">
        <img class="item-image" src="{{item.img}}">
        <a class="item-control item-roll">{{item.name}}</a>
      </div>
      <div>
        <span>{{item.data.toHit}}</span>
      </div>
      <div>
        <span>{{item.data.dmg}}</span>
      </div>
      <div>
        <span>{{item.data.details.type}}</span>
      </div>
      <div>
        <span>{{item.data.details.range.normal}}/{{item.data.details.range.max}}</span>
      </div>
      <div>
        <span>{{item.data.details.special}}</span>
      </div>
      <div>
        <span>{{item.data.ammo}}</span>
      </div>
      <div>
        <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
      </div>
    </div>
    {{/each}}
  </section>

</main>

<!--  --------------------------------------------------------------------------------- -->
<!--  --------------------------- PAGE 2 ---------------------------------------------- -->
<!--  --------------------------------------------------------------------------------- -->
<main class="background tab-content tab2 page2 tab" data-tab="background">

  <section class="racial_abilities columnflex nowrap center">
    <label>Racial Abilities</label>
    {{editor content=data.abilities.racial target="data.abilities.racial" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="feats columnflex nowrap center">
    <label>Feats</label>
    {{editor content=data.abilities.feats target="data.abilities.feats" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="class columnflex nowrap center">
    <label>Class Abilities</label>
    {{editor content=data.abilities.class target="data.abilities.class" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="equipment columnflex nowrap center">
    <label>Equipment notes</label>
    {{editor content=data.abilities.equipment target="data.abilities.equipment" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="prof columnflex nowrap center">
    <label>Proficiencies</label>
    {{editor content=data.abilities.proficiencies target="data.abilities.proficiencies" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="equipment columnflex nowrap center item-list">
    <label>Inventory</label>
    {{#each items.equip as |item|}}
    <div class="inventory-item flexrow" data-item-id="{{item._id}}">
      <div>
        <img class="item-image" src="{{item.img}}">
      </div>
      <div style="flex: 1">
        {{item.name}}
      </div>
      <div>
        <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
      </div>
    </div>
    {{/each}}
    <div class="flex1"></div>
  </section>


</main>

<!--  --------------------------------------------------------------------------------- -->
<!--  --------------------------- PAGE 3 ---------------------------------------------- -->
<!--  --------------------------------------------------------------------------------- -->

<!--

<main class="settings tab-content tab3 page3 tab" data-tab="settings">

  <section class="settings columnflex nowrap center">
    <label>Settings</label>

    <div class="rowflex nowrap">
      <span title="@{whisper}">Whisper rolls?</span>
      <input name="data.whisper" title="@{whisper}" type="checkbox"  value="{{data.whisper}}">
    </div>

    <div class="rowflex nowrap">
      <span title="@{show_name}">Show name in rolls?</span>
      <select name="data.show_name" title="@{show_name}">
        <option >Yes</option>
        <option >No</option>
      </select>
    </div>

    <div class="rowflex nowrap">
      <a name="roll_hd" type="roll" title="%{hd}" >Short Rest</a>
      <a name="roll_longrest" type="roll" title="%{longrest}" >Long Rest</a>
      <a name="roll_td" type="roll" title="%{td}" >Tension Dice</a>
    </div>
    <div class="rowflex nowrap">
      <label>Custom roll</label>
    </div>
    <div class="rowflex nowrap">
      <a name="roll_custom1" type="roll" value="@{whisper}@{custom1}"></a>
      <input type="text" name="data.custom1" >
    </div>
    <div class="rowflex nowrap">
      <a name="roll_custom2" type="roll" value="@{whisper}@{custom2}"></a>
      <input type="text" name="data.custom2" >
    </div>
    <div class="rowflex nowrap">
      <a name="roll_custom3" type="roll" value="@{whisper}@{custom3}"></a>
      <input type="text" name="data.custom3" >
    </div>
    <div class="rowflex nowrap">
      <a name="roll_custom4" type="roll" value="@{whisper}@{custom4}"></a>
      <input type="text" name="data.custom4" >
    </div>
  </section>

  <section class="other columnflex nowrap center">
    <label>Other stats</label>
    <div class="rowflex nowrap">
      <span>Eureka Points:</span>
      <input name="data.eureka" type="number" placeholder="" title="Eureka Points: @{eureka}"  class="w40" value="{{data.eureka}}">
      /
      <input name="data.eureka_max" type="number" placeholder="" title="Max Eureka Points: @{eureka|max}" class="w40" value="{{data.eureka_max}}">
    </div>
    <div class="columnflex nowrap">
      <span>Wounds/Ability Damage</span>
      <textarea name="data.ability_damage" class="dmg"></textarea>
    </div>
  </section>

  <section class="changelog columnflex nowrap center">

  </section>


  <div class="ammo">
    <div class="section columnflex nowrap">
      <label class=" other">NPC stuff</label>
      <div class="rowflex nowrap">
        <span>CR:</span>
        <input name="data.cr" type="number" placeholder="" title="Challenge Rating: @{cr}"  class="w40" value="{{data.cr}}">
        <span>Speed</span>
        <input name="data.speed_npc" type="text" style="width:200px" placeholder="1m Fly(6m)" title="@{speed_npc}"  class="w40" value="{{data.speed_npc}}">
      </div>
      <div class="rowflex nowrap">
        <span>Type:</span>
        <input name="data.type" type="text" style="width:350px" placeholder="Medium Humanoid(Scout 2)" title="Challenge Rating: @{type}"  class="w40" value="{{data.type}}">
      </div>
    </div>

    <div class="section columnflex nowrap">
      <label class=" other">Living Series</label>
      <div class="rowflex nowrap">
        <span>Stargaterpg.com username</span>
        <input name="data.living_series_user" type="text" placeholder=""  class="w40" style="width:100px" value="{{data.living_series_user}}">
        <span title="You can see your Roll20 id by going to your Roll20 profile page, and copying the numbers in the URL">Roll20 ID</span>
        <input name="data.roll20id" type="text" style="width:100px" title="You can see your Roll20 id by going to your Roll20 profile page, and copying the numbers in the URL"  class="w40" value="{{data.roll20id}}">
      </div>
      <div class="rowflex nowrap">
        <span>Stargaterpg.com character link</span>
        <input name="data.cahracter_link" type="text" style="width:350px" placeholder="The url to your character sheet"  class="w40" value="{{data.cahracter_link}}">
      </div>
    </div>

    <div class="ammo grid">
      <div class="section columnflex nowrap middle center">
        <label>Ammo Weapon 1</label>
        <input name="data.ammo1" type="number"  value="{{data.ammo1}}">
      </div>
      <div class="section columnflex nowrap middle center">
        <label>Ammo Weapon 2</label>
        <input name="data.ammo2" type="number"  value="{{data.ammo2}}">
      </div>
      <div class="section columnflex nowrap middle center">
        <label>Ammo Weapon 3</label>
        <input name="data.ammo3" type="number"  value="{{data.ammo3}}">
      </div>
      <div class="section columnflex nowrap middle center">
        <label>Ammo Weapon 4</label>
        <input name="data.ammo4" type="number"  value="{{data.ammo4}}">
      </div>
    </div>
  </div>

</main>
-->
</div>
</form>